<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340457607684-0tihtrl1082s8gm5bglcn74bblcuq57g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340457607684-0tihtrl1082s8gm5bglcn74bblcuq57g</string>
	<key>API_KEY</key>
	<string>AIzaSyA_nPOqQXPgWh4ho51HgoMUoL8Nkq3vO7A</string>
	<key>GCM_SENDER_ID</key>
	<string>340457607684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stackedManuallyPrac</string>
	<key>PROJECT_ID</key>
	<string>chatapp-58d66</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-58d66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340457607684:ios:31a3b435dbacaaa1a81b51</string>
</dict>
</plist>